<div class="grid-container">
  <div class="grid-item">
    <span class="item-content">Total Patients</span>
    <span class="item-content-bold"><%= totalPatients %></span>
  </div>

  <div class="grid-item">
    <span class="item-content">Total Appointments</span>
    <span class="item-content-bold"><%= totalAppointments %></span>
  </div>

  <div class="grid-item">
    <span class="item-content">Total Staff</span>
    <span class="item-content-bold"><%= totalStaff %></span>
  </div>
</div>

<div class="patient-overview">
  <p class="patient-overview-txt">New Patients</p>
  <table>
    <tbody>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Email Address</th>
        <th>Next of Kin</th>
        <th>Allergy</th>
        <th>Date of Birth</th>
        <th>Registered At</th>
        <th>Action</th>
      </tr>
      <% displayedPatients.forEach(displayedPatient => { %>
        <tr>
          <td><%= displayedPatient.firstName %></td>
          <td><%= displayedPatient.lastName %></td>
          <td><%= displayedPatient.gender %></td>
          <td><%= displayedPatient.emailAddress %></td>
          <td><%= displayedPatient.nextOfKin %></td>
          <td><%= displayedPatient.allergies %></td>
          <td><%= formatDate(displayedPatient.dob) %></td>
          <td><%= formatDate(displayedPatient.createdAt) %></td>
          <td><a href="/patients/<%= displayedPatient._id %>" class="anchor-link">View more</a></td>
        </tr>
      <% }) %>

    </tbody>
    
</table>
</div>

    