<div class="all-patients">
  <span class="patient-p">
    <%= registeredPatient.firstName %>
    <%= registeredPatient.lastName %>
  </span>

  <div class="one-patient">
    <div class="patient-grid">
      <div class="content-wrapper">
        <p class="patient-content-regular">First name</p>
        <p class="patient-content-bold"><%= registeredPatient.firstName %></p>
      </div>
  
      <div class="content-wrapper">
        <p class="patient-content-regular">Last name</p>
        <p class="patient-content-bold"><%= registeredPatient.lastName %></p>
      </div>

      <div class="content-wrapper">
        <p class="patient-content-regular">Date of birth</p>
        <p class="patient-content-bold"><%= formatDate(registeredPatient.dob) %></p>
      </div>

      <div class="content-wrapper">
        <p class="patient-content-regular">Email address</p>
        <p class="patient-content-bold"><%= registeredPatient.emailAddress %></p>
      </div>

      <div class="content-wrapper">
        <p class="patient-content-regular">Address</p>
        <p class="patient-content-bold"><%= registeredPatient.address %></p>
      </div>

      <div class="content-wrapper">
        <p class="patient-content-regular"><%= registeredPatient.occupation %></p>
        <p class="patient-content-bold">Baker</p>
      </div>

      <div class="content-wrapper">
        <p class="patient-content-regular">Next of kin</p>
        <p class="patient-content-bold"><%= registeredPatient.nextOfKin %></p>
      </div>

      <div class="content-wrapper">
        <p class="patient-content-regular">Allergies</p>
        <p class="patient-content-bold"><%= registeredPatient.allergies %></p>
      </div>
    </div>
    

    
  </div>
   
</div>