<div class="all-patients">
  <div class="title-wrapper">
    <p class="all-patients-p">All Patients</p>
    <a href="/patients/add" class="primary-button">Register New Patient</a>
  </div>

  <table>
    <tbody>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Email Address</th>
        <th>Next of Kin</th>
        <th>Allergy</th>
        <th>Date of Birth</th>
        <th>Created At</th>
        <th>Action</th>
      </tr>

      <% registeredPatients.forEach(registeredPatient => { %>
      <tr>
          <td><%= registeredPatient.firstName %></td>
          <td><%= registeredPatient.lastName %></td>
          <td><%= registeredPatient.gender %></td>
          <td><%= registeredPatient.emailAddress %></td>
          <td><%= registeredPatient.nextOfKin %></td>
          <td><%= registeredPatient.allergies %></td>
          <td><%= formatDate(registeredPatient.dob) %></td>
          <td><%= formatDate(registeredPatient.createdAt) %></td>
          <td><a href="/patients/<%= registeredPatient._id %>" class="anchor-link">View more</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

