<div class="all-patients">
  <span class="patient-p">
    <%= oneStaff.firstName %>
    <%= oneStaff.lastName %>
  </span>

  <div class="one-staff">
    <div class="patient-grid">
      <div class="content-wrapper">
        <p class="patient-content-regular">First name</p>
        <p class="patient-content-bold"><%= oneStaff.firstName %></p>
      </div>
  
      <div class="content-wrapper">
        <p class="patient-content-regular">Last name</p>
        <p class="patient-content-bold"><%= oneStaff.lastName %></p>
      </div>

      <div class="content-wrapper">
        <p class="patient-content-regular">Gender</p>
        <p class="patient-content-bold"><%= oneStaff.gender %></p>
      </div>

      <div class="content-wrapper">
        <p class="patient-content-regular">Email address</p>
        <p class="patient-content-bold"><%= oneStaff.emailAddress %></p>
      </div>

      <div class="content-wrapper">
        <p class="patient-content-regular">Department</p>
        <p class="patient-content-bold"><%= oneStaff.department %></p>
      </div>

      <div class="content-wrapper">
        <p class="patient-content-bold">Qualification</p>
        <p class="patient-content-regular"><%= oneStaff.qualification %></p>
      </div>
    
  </div>
   
</div>